<template>
    <div class="container">
        <h2 class="text-center">Edit User</h2>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="mt-2 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="user.name">
                    </div>
                    <div class="mt-2 form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="user.email">
                    </div>
                    <div class="mt-2 form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" v-model="user.phone">
                    </div>
                    <button type="button" class="btn mt-4 btn-primary" @click="updateUser()"> Update User </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
// import {
//     BRow,
//     BCol,
//     BForm,
//     BFormGroup,
//     BFormInput,
//     BFormRadioGroup,
//     BButton,
//     BToast,
//     BInputGroup,
//     BInputGroupAppend,
// } from 'bootstrap-vue'
export default {
    // components: {
    //     BRow,
    //     BCol,
    //     BForm,
    //     BFormGroup,
    //     BFormInput,
    //     BFormRadioGroup,
    //     BButton,
    //     BToast,
    //     BInputGroup,
    //     BInputGroupAppend,
    // },
    data() {
        return {
            user: {}
        }
    },
    mounted() {
        this.editUser(this.$route.params.userId);
    },
    methods: {
        editUser(userId) {
            this.axios.get(`/api/users/edit/${userId}`)
                .then((res) => {
                    this.user = res.data.user;
                });
        },
        updateUser() {
            const opts = {
                url: `/api/users/update/${this.$route.params.userId}`,
                method: 'POST',
                data: {
                    name: this.user.name,
                    email: this.user.email,
                    phone: this.user.phone,
                },
            }
            const res = this.axios(opts)
                .then((res) => {
                    const status = res.data.status;
                    if(status){
                        this.$router.push({ name: 'UsersIndex' });
                    }
                });
        }
    }
}
</script>
