<template>
    <div class="container">
        <h2 class="text-center">Users List</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, key) of users">
                        <td>{{ key+1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <router-link class="btn btn-success btn-sm" :to="{ name: 'UserEdit', params: { userId: user.id }}">Edit</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: {}
        }
    },
    created() {
        this.getUsers();
    },
    methods: {
        getUsers() {
            this.axios.get('/api/users/all')
                .then(response => {
                    this.users = response.data.users;
                });
        },
    }
}
</script>
